# ignore png, gimp and pdf files
*.mlapp
*.swp
*.slxc
*.ctf
*.mlapp
*.mltbx
*.mlappinstall
.mexmaci64
*.xcf
*.log
*.aux
*.idx
*.ist
*.jar
*.class
slprj
*~
distrib/tmp
distrib/*.zip
distrib/*.mltbx
.DS_Store
doc/manual/figs/*-converted-to
doc/manual/release.tex
doc/manual/robot.out
doc/manual/robot.pdf
doc/manual/robot.toc
doc/manual/robot.synctex.gz
doc/manual/all.tex
Contents.m
*.asv
interfaces/Arbotix/arbotix
